@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
<div id="shopCartBox">
    <div class="shop-cart-box">
        <div class="shop-cart-box-hd">
            <h2 class="title">我的购物车</h2>
            <p class="tip"></p>
        </div>

        @Html.Widget("order_summary_content_before")
        @Html.Partial("_OrderReviewData", Model.OrderReviewData)
        @if (Model.Items.Count > 0)
        {
            if (Model.Warnings.Count > 0)
            {
                <div class="message-error">
                    <ul>
                        @for (int i = 0; i < Model.Warnings.Count; i++)
                        {
                            <li>@Model.Warnings[i]</li>
                        }
                    </ul>
                </div>
            }
            using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="submit" id="updatecartSubmit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" style="display:none;" />
                <div class="shop-cart-box-bd">
                    <!--  购物车商品列表 -->
                    <dl class="shop-cart-goods">
                        <dt class="clearfix">
                            <span class="col col-1">商品</span>
                            <span class="col col-2">单价</span>
                            <span class="col col-3">数量</span>
                            <span class="col col-4">小计</span>
                            <span class="col col-5">操作</span>
                        </dt>

                        @foreach (var item in Model.Items)
                        {
                            <dd class="item  clearfix J_proItem" data-cos="0">
                                <input type="checkbox" id="removeCheckbox@(item.Id)" name="removefromcart" value="@(item.Id)" style="display:none;" />
                                <div class="item-row">
                                    <div class="col col-1">
                                        <div class="g-pic">
                                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" target="_blank">
                                                <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" srcset="@item.Picture.ImageUrl" title="@item.Picture.Title" width="120" height="120" />
                                            </a>

                                        </div>
                                        <div class="g-info">
                                            <div class="g-name">

                                                <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" target="_blank">
                                                    @item.ProductName
                                                </a>
                                            </div>
                                            <p class="g-type">
                                                @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                                {
                                                    <span>
                                                        @Html.Raw(item.AttributeInfo)
                                                    </span>
                                                }
                                                @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                                {
                                                    <span>
                                                        @Html.Raw(item.RecurringInfo)
                                                    </span>
                                                }
                                                @if (item.Warnings.Count > 0)
                                                {
                                                    for (int i = 0; i < item.Warnings.Count; i++)
                                                    {
                                                        <span>@item.Warnings[i]</span>
                                                    }
                                                }
                                            </p>
                                            <p class='g-other-info'>
                                                <!--【包邮】购买此商品享全单免费送货-->
                                            </p>
                                            <!--S 套装描述-->
                                            <!--E 套装描述-->
                                            <!--S 明星产品配置-->
                                            <!--E 明星产品配置-->
                                        </div>
                                    </div>
                                    <div class="col col-2">
                                        @item.UnitPrice
                                    </div>
                                    <div class="col col-3">
                                        @if (Model.IsEditable)
                                        {
                                            if (item.AllowedQuantities.Count > 0)
                                            {
                                                <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                                    @foreach (var qty in item.AllowedQuantities)
                                                    {
                                                        <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <div class="change-goods-num clearfix J_changeGoodsNum">
                                                    <a href="javascript:void(0)" data-pid="@(item.Id)" class="J_minus">
                                                        <i class="iconfont">&#xf0176;</i>
                                                    </a>
                                                    <input id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" data-num="1" data-buylimit="10" autocomplete="off" class="goods-num J_goodsNum">
                                                    <a href="javascript:void(0)" data-pid="@(item.Id)" class="J_plus">
                                                        <i class="iconfont">&#xf0175;</i>
                                                    </a>
                                                </div>
                                            }

                                        }
                                        else
                                        {
                                            <span>@item.Quantity</span>
                                        }

                                    </div>
                                    <div class="col col-4">
                                        <em>@item.SubTotal</em>
                                        <p>
                                            @if (!String.IsNullOrEmpty(item.Discount))
                                            {
                                                @item.Discount
                                            }
                                        </p>
                                    </div>
                                    <div class="col col-5">
                                        <a href="javascript:void(0)" data-pid="@(item.Id)" title="删除" class="del J_delGoods"><i class="iconfont">&#xf00b3;</i></a>
                                    </div>
                                </div>
                            </dd>
                        }

                        <!--S 活动相关-->
                        <!--E 活动相关-->
                        @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                        {
                            <dd class="selected-checkout-attributes" style="display:none;">
                                @Html.Raw(Model.CheckoutAttributeInfo)
                            </dd>
                        }
                    </dl>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.J_delGoods').click(function () {
                                $('#removeCheckbox' + $(this).attr('data-pid')).attr("checked", true);
                                $('#updatecartSubmit').click();
                            });
                            $('.J_minus').click(function () {
                                var qInput = $('#itemquantity' + $(this).attr('data-pid'));
                                qInput.val(qInput.val() * 1 - 1);
                                $('#updatecartSubmit').click();
                            });
                            $('.J_plus').click(function () {
                                var qInput = $('#itemquantity' + $(this).attr('data-pid'));
                                qInput.val(qInput.val() * 1 + 1);
                                $('#updatecartSubmit').click();
                            });
                        });
                    </script>

                </div>
    <!--  购物车商品列表  END-->
    <!-- 购物车统计 -->
                <div class="shop-cart-box-ft clearfix">
                    <!--S 加价购-->
                    <div class="xm-add-buy">
                        <div style="display:none;">
                            @Html.Partial("_CheckoutAttributes", Model.CheckoutAttributes, new ViewDataDictionary())
                        </div>

                        @Html.Widget("order_summary_cart_footer")
                        @if (Model.IsEditable)
                        {
                            if (!String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                            {
                                <div>
                                    <div class="min-amount-warning">
                                        @Model.MinOrderSubtotalWarning
                                    </div>
                                </div>
                            }
                        }
                        <div class="cart-collaterals" style="display:none;">
                            @if (Model.IsEditable)
                            {
                                <div class="deals">
                                    @Html.Partial("_DiscountBox", Model.DiscountBox)
                                    @Html.Partial("_GiftCardBox", Model.GiftCardBox)
                                    @Html.Widget("order_summary_content_deals")
                                </div>
                                @Html.Partial("EstimateShipping", Model.EstimateShipping)
                            }
                        </div>
                        <div class="totals">

                            @if (Model.IsEditable)
                            {
                                if (Model.TermsOfServiceOnShoppingCartPage && false)
                                {
                                    <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display:none;">
                                        <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                                    </div>
                                    <div class="terms-of-service">
                                        <input id="termsofservice" type="checkbox" name="termsofservice" checked="checked" />
                                        @T("Checkout.TermsOfService.IAccept")
                                        <span class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofuse" })', 450, 500, true)">@T("Checkout.TermsOfService.Read")</span>
                                    </div>
                                }
                                <div class="addon-buttons">
                                    @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                                    @Html.Partial("_ButtonPaymentMethod", Model)
                                </div>
                            }
                        </div>
                    </div>
                    <!--E 加价购-->
                    <div class="shop-cart-total">
                        @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
                    </div>
                    @if (Model.IsEditable)
                    {
                        <div class="shop-cart-action clearfix">
                            @if (String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                            {
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#checkout').click(function () {
                                            //terms of service
                                            var termOfServiceOk = true;
                                            if ($('#termsofservice').length > 0) {
                                                //terms of service element exists
                                                if (!$('#termsofservice').is(':checked')) {
                                                    $("#terms-of-service-warning-box").dialog();
                                                    termOfServiceOk = false;
                                                } else {
                                                    termOfServiceOk = true;
                                                }
                                            }
                                            return termOfServiceOk;
                                        });
                                    });
                                </script>
                                <button type="submit" id="checkout" name="checkout" value="checkout" class="btn btn-primary btn-next">
                                    去结账
                                </button>
                            }
                            <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" class="btn btn-lineDakeLight btn-back">
                            <div class="tips">
                                <span class="shop-cart-coudan"></span>
                            </div>
                        </div>
                    }
                </div>
    <!-- 购物车统计 END-->
            }
        }
        else
        {
            @T("ShoppingCart.CartIsEmpty")
        }
        @Html.Widget("order_summary_content_after")
    </div>
</div>
