@model TopMenuModel
@using Nop.Core.Domain
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    var isRtl = this.ShouldUseRtlTheme();
    var supportResponsive = EngineContext.Current.Resolve<StoreInformationSettings>().ResponsiveDesignSupported;
}
@helper RenderCategoryLine(CategorySimpleModel category, int level, bool responsiveMobileMenu)
{
    if (level == 0)
    {
    <li class="nav-category-item">
        <div class="nav-category-content">
            <a class="title" href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                @category.Name
            </a>
            @{
                    <div class="links">
                        @if (category.SubCategories.Count > 0)
                        {
                            foreach (var subCategory in category.SubCategories)
                            {
                                @RenderCategoryLine(subCategory, level + 1, responsiveMobileMenu)
                            }
                        }
                    </div>
            }
        </div>
    </li>
    }
    else if (level == 1)
    { 
        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                    @category.Name
                </a>
    }
}

@if (Model.Categories.Count > 0)
{
    foreach (var category in Model.Categories)
    {
        @RenderCategoryLine(category, 0, false)
    }
}


