@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}



<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>瑞翠华光科技 - 找回密码</title>
    <link href="~/Themes/DefaultTheme/Content/css/register.css" rel="stylesheet" />
    <link href="/static/res/5e4408e/passport/css/index.css" rel="stylesheet" type="text/css" />
    <link href="/static/res/FXwO78u/css/passport/manfind.css" rel="stylesheet" type="text/css" />
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?c64922fe907004774c797344b7063851";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
    <div class="top">
        <div class="logo">
            <a href="/"><img src="~/Themes/DefaultTheme/Content/Images/logo.jpg" alt="瑞翠logo" /></a>
        </div>
    </div>

    <div class="suc_content forgetpassword">
        <div class="suc_kuang">
            <div class="hei_513">
                <p class="retrieve_pwd">取回帐户密码</p>
               
                @using (Html.BeginForm())
                {
                     <p class="p_tips">请输入您绑定帐户的邮箱、手机号码：</p>
                    <div class="forget_area" >
                        @Html.TextBoxFor(model => model.Email, new { @class = "input_kuang long_width item errortip", placeholder = "邮箱/手机号码" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errormessage" })
                        @if (!String.IsNullOrEmpty(Model.Result))
                        {
                            @Model.Result
                        }
                    </div>
                    <div class="sub_bg">
                        <input class="no_bg" type="submit" value="下一步" name="send-email" />
                    </div>
                }
            </div>
            <div class="suc_botm"></div>
        </div>
    </div>
    <div class="footer" style="width:auto;">
        <ul class="links">
            <li class="copyright"><span>版权所有 © 2014 瑞翠商城 保留所有权利 </span></li>
        </ul>
    </div>
</body>
</html>


@*<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        @using (Html.BeginForm())
        {
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        @Html.LabelFor(model => model.Email, new { }, ":")
                        @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
            </div>
        }
    </div>
</div>*@
